html{
	height: 100%;
}
body{
	height: 100%;
}
.container{
	min-height: 100%;
}
.table.table-clickable tr{
	cursor: pointer;
}
.perfil-thumb{
	height: 100px;
	width: 100px;
}
.perfil-thumb span{
	font-size: 90px;
}
.container-principal{
	padding-top: 20px;
}