<!doctype html>
<html>
<head>
  <title>Angular from stratch</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/styles.css"/>
</head>
<body ng-app="angularFromScratch" ng-controller="PrincipalCtrl as principal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{principal.tituloApp}}</h1>
      </div>
    </div>
    <div class="row">
      <div ng-controller="ContactosCtrl as contactos" class="container contactos-container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Lista Contactos</h2>
          </div>
        </div>
        <div class="row" ng-show="!contactos.isPerfilActivo()">
          <div class="col-xs-12">
            <input type="text" ng-model="busqueda" class="form-control" placeholder="Filtrar resultados" ng-change="contactos.mostrarPerfil(-1)">
          </div>
        </div>
        <table class="table table-hover table-striped table-clickable" ng-show="!contactos.isPerfilActivo(-1)">
          <thead>
            <tr class="row">
              <th class="col-xs-3">Icono</th>
              <th class="col-xs-3">Nombre</th>
              <th class="col-xs-3">Apellido</th>
              <th class="col-xs-3">Contacto</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contacto in contactos.contactosArray | filter:busqueda" class="row" ng-click="contactos.mostrarPerfil($index)">
              <td class="col-xs-3" ng-bind-html="contacto.icon"></td>
              <td class="col-xs-3">{{contacto.nombre}}</td>
              <td class="col-xs-3">{{contacto.apellido}}</td>
              <td class="col-xs-3"><a target="_blank" ng-href="https://twitter.com/{{contacto.contacto}}">{{contacto.contacto}}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="container" ng-controller="PerfilCtrl as perfil" ng-show="contactos.isPerfilActivo()">
          <div class="row">
            <div class="col-xs-8">
              <h3>Perfil de {{contactos.contactosArray[contactos.perfilActivo].nombre}}</h3>
              <span class="img-thumbnail perfil-thumb text-center" ng-bind-html="contactos.contactosArray[contactos.perfilActivo].icon"></span>
            </div>
            <div class="col-xs-4 text-right">
            <h3 ng-click="contactos.mostrarPerfil(-1)" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span>volver</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controladores.js"></script>
</body>
</html>