<div class="row">
  <div class="seccion col-md-3">
    <h3>Autor</h3>
    <div class="">
      <div class="">
        <h4><a href="https://plus.google.com/u/0/+axelsalmeron">Axel Salmerón R. </a></h4>
        <h4>Twitter <a href="https://twitter.com/aXulsr">@aXulsr</a> </h4>
        <h4>GitHub <a href="https://github.com/axul"> Perfil</a></h4>
        <h4>SirIdeas Web <a href="https://sirdieas.com">Home</a></h4>
      </div>
    </div>
  </div>
  <div class="seccion col-md-6">
    <h3>AngularJs</h3>
    <div>
      <h4>Home <a href="https://angularjs.org/">AngularJS</a></h4>
      <h4>API <a href="https://docs.angularjs.org/api">Api reference</a></h4>
      <h4>Guía para desarrolladores <a href="https://docs.angularjs.org/guide">Guía</a></h4>
      <h4>Curso de Codeschool.com <a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro">Shaping up with Angularjs</a></h4>
    </div>
  </div>
</div>
